.moveButton{
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2rem;
  color: #ffffff;
  top: 230px;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;

}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
